@import "../../styles/scss/utils/themes";
@import "../../styles/scss/utils/variables";

.page-header {
  display: flex;
  justify-content: center;
  height: $page-header-height-d;
}

.brand-logo {
  img {
    width: auto;
    height: calc(#{$page-header-height-d} - 1rem);
  }
}

a {
  padding: 1rem;
  font-size: 1rem;
  color: #000;
  text-decoration: none;
}

.options {
  a {
    opacity: .8;
    transition: all .3s ease;

    &:hover {
      padding: .5rem;
      -ms-transform: scale(1.08);
      transform: scale(1.08);
      opacity: 1;
      font-size: 1.25rem;
    }
  }
}
